header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--side-padding) / 2);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    width: 100%;
    z-index: 90;
}

.logo {
    width: 240px;
    height: 240px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav {
    position: relative;
    z-index: 100;
}

.menu-list {
    display: flex;
}

.menu-item {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    margin-left: 6px;
    padding:  0 72px;
    height: 100px;
    border-top: var(--border-12);
    border-bottom: var(--border-12);
    border-left: var(--border-1);
    border-right: var(--border-1);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.menu-item span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--orange);
}

.menu-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    transition: all 0.3s ease;
    z-index: -1;
}

.menu-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/img/black-yellow-line-btn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.menu-item:first-child {
    border-bottom: var(--border-12);
    border-left: var(--border-12);
    border-bottom-left-radius: 60px;
}

.menu-item:first-child::after {
    background-position: 2px;
}

.menu-item:last-child {
    border-top: var(--border-12);
    border-right: var(--border-12);
    border-top-right-radius: 60px;
}

.menu-item:last-child::after {
    background-position: -39px;
}

.menu-item:hover::before {
    animation: buttonPulsation 1s ease-out;
    animation-iteration-count: infinite;
}


/*--------------------------------------------------------------------------------------Burger */
.burger {
    display: none;
    position: relative;
}

.menu-toggle {
    position: absolute;
    right: 1.5rem;
    top: 49%;
    transform: translate(0, -50%);
    height: 26px;
    width: 29px;
}

.menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--orange);
    transition: all 0.3s ease;
}

.menu-toggle-bar--top {
    transform: translate(0, -8px);
}

.menu-toggle-bar--bottom {
    transform: translate(0, 8px);
}

.nav-open .menu-toggle-bar--top {
    transform: translate(0, 0) rotate(45deg);
}

.nav-open .menu-toggle-bar--middle {
    opacity: 0;
}

.nav-open .menu-toggle-bar--bottom {
    transform: translate(0, 0) rotate(-45deg);
}


/*--------------------------------------------------------------------------------------Animations */
@keyframes buttonPulsation {
    0% {
        background-color: rgba(0,0,0,0.75);
    }
    50% {
        background-color: rgba(0,0,0,0.5);
    }
    100% {
        background-color: rgba(0,0,0,0.75);
    }
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 320px) and (max-width: 1023px) {
    header {
        padding-top: var(--side-padding);
    }
    .logo {
        width: 90px;
        height: 90px;
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .menu-list {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0 10px;
        background-color: rgba(0,0,0,0.8);
    }
    .menu-item {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 5px;
        padding: unset;
        height: 90px;
        border-top: var(--border-1);
        border-bottom: var(--border-1);
        border-left: var(--border-12);
        border-right: var(--border-12);
        box-sizing: content-box;
    }
    .menu-item span {
        font-size: 2rem;
    }
    .menu-item:first-child {
        border-top: var(--border-12);
        border-bottom: var(--border-1);
        border-bottom-left-radius: unset;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .menu-item:last-child {
        border-top: var(--border-1);
        border-bottom: var(--border-12);
        border-top-right-radius: unset;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .burger {
        display: block;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .logo {
        width: 140px;
        height: 140px;
    }
    .menu-toggle {
        height: 39px;
        width: 44px;
    }
    .menu-toggle-bar {
        height: 6px;
        border-radius: 6px;
    }
    .menu-toggle-bar--top {
        transform: translate(0, -12px);
    }
    .menu-toggle-bar--bottom {
        transform: translate(0, 12px);
    }
    .menu-item:last-child::after {
        background-position: center;
    }
}

@media (min-width: 576px) and (max-width: 1023px) {
    header {
        padding-top: var(--side-padding);
    }
    .menu-list {
        padding: 0 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding-top: var(--side-padding);
    }
    .logo {
        width: 180px;
        height: 180px;
    }
    .menu-toggle {
        height: 52px;
        width: 59px;
    }
    .menu-toggle-bar {
        height: 8px;
        border-radius: 8px;
    }
    .menu-toggle-bar--top {
        transform: translate(0, -16px);
    }
    .menu-toggle-bar--bottom {
        transform: translate(0, 16px);
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    header {
        padding-top: var(--side-padding);
    }
    .logo {
        width: 140px;
        height: 140px;
    }
    .menu-item {
        padding:  0 36px;
        height: 80px;
    }
    .menu-item span {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .logo {
        width: 200px;
        height: 200px;
    }
    .menu-item {
        padding:  0 36px;
        height: 90px;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .menu-item {
        padding:  0 54px;
    }
}


/*--------------------------------------------------------------------------------------Responsiveness landscape */
@media (min-width: 576px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        padding-top: 10px;
    }
    .logo {
        width: 90px;
        height: 90px;
    }
    .menu-toggle {
        height: 26px;
        width: 29px;
    }
    .menu-toggle-bar {
        height: 4px;
        border-radius: 4px;
    }
    .menu-toggle-bar--top {
        transform: translate(0, -8px);
    }
    .menu-toggle-bar--bottom {
        transform: translate(0, 8px);
    }
}

@media (min-width: 576px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        padding-top: var(--side-padding);
    }
    .logo {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        padding-top: calc(var(--side-padding) / 2);
    }
    .logo {
        width: 120px;
        height: 120px;
    }
}
