main {
    --gap: 24px;
    --border-width: var(--border-24);
    --border-radius: 100px;
    position: relative;
    isolation: isolate;
    font-size: 8rem;
}

main h3 {
    position: relative;
    isolation: isolate;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: var(--orange);
    z-index: 10;
}

main h3::before {
    content: "";
    display: block;
    position: absolute;
    top: -30%; left: -15%;
    width: 115%;
    height: 130%;
    border-right: var(--border-1);
    border-bottom: var(--border-1);
    box-sizing: content-box;
}

main h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -100px; right: -50px;
    width: 50px;
    height: 100px;
    border-left: var(--border-1);
    border-top: var(--border-1);
}


/*--------------------------------------------------------------------------------------Gallery */
.gallery {
    position: relative;
    isolation: isolate;
    border-top: var(--border-1);
    border-bottom: var(--border-1);
    background-color: #373d42;
}

.gallery h3 {
    position: absolute;
    top: 0;
    left: var(--side-padding);
}

.gallery h3::before {
    left: 0;
    border-right: none;
    border-left: var(--border-1);
}

.gallery h3::after {
    bottom: -50px; left: -49px;
    width: 50px;
    height: 50px;
    border-left: none;
    border-right: var(--border-1);
}


/*--------------------------------------------------------------------------------------Services */
.services {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
}

.services::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: url("../assets/img/main-bg.png");
    background-position: top center;
    background-size: cover;
}

.services h3 {
    align-self: flex-end;
    margin-right: var(--side-padding);
}

.services h3::after {
    z-index: 1;
}

.services h4 {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    font-size: 0.6em;
    text-transform: capitalize;
    color: var(--orange);
    z-index: 1;
}

.services span {
    position: relative;
    font-size: 0.3em;
    z-index: 1;
}

.services-container {
    display: flex;
    justify-content: flex-end;
}

.towing,
.mounting {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50% - var(--gap));
    padding: var(--side-padding);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.towing {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: calc(var(--side-padding) + var(--gap));
    padding-bottom: calc(var(--side-padding) + var(--gap));
    border-bottom-right-radius: var(--border-radius);
    background-image: url("../assets/img/towing-service.jpg");
}

.mounting {
    padding-top: calc(var(--side-padding) + var(--gap));
    padding-left: calc(var(--side-padding) + var(--gap));
    border-top-left-radius: var(--border-radius);
    background-image: url("../assets/img/crane-service.jpg");
}

.mounting h4,
.mounting span {
    text-align: right;
}

.towing::before,
.mounting::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: 0;
}

.towing::before {
    border-bottom: var(--border-width);
    border-right: var(--border-width);
    border-bottom-right-radius: var(--border-radius);
}

.towing::after {
    content: "";
    display: block;
    position: absolute;
    top: -100px; left: 0;
    height: 350px;
    border-left: var(--border-1);
}

.mounting::before {
    border-top: var(--border-width);
    border-left: var(--border-width);
    border-top-left-radius: var(--border-radius);
}

.mounting::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0; right: 0;
    height: 200px;
    border-right: var(--border-1);
}


/*--------------------------------------------------------------------------------------Testimonials */
.testimonials {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    border-top: var(--border-1);
}

.testimonials::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/diamond-plate.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-size: contain;
    filter: brightness(0.4);
}

.testimonials h3 {
    align-self: flex-start;
    margin-left: var(--side-padding);
}

.testimonials h3::before {
    left: 0;
    border-right: none;
    border-left: var(--border-1);
}

.testimonials h3::after {
    bottom: -50px;
    left: -49px;
    width: 50px;
    height: 50px;
    border-left: none;
    border-right: var(--border-1);
}

.testimonials_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);
    padding: calc(var(--gap) * 2) var(--side-padding);
}

.testimonials_item {
    padding: calc(var(--gap) * 2);
    font-size: 0.3em;
    border: var(--border-1);
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(3px);
}

.testimonials_item:nth-child(1) {
    border-left: var(--border-width);
    border-top: var(--border-width);
    border-top-left-radius: var(--border-radius);
}
.testimonials_item:nth-child(2) {
    border-top: var(--border-width);
    border-right: var(--border-width);
    border-top-right-radius: var(--border-radius);
}
.testimonials_item:nth-child(3) {
    border-left: var(--border-width);
    border-bottom: var(--border-width);
    border-bottom-left-radius: var(--border-radius);
}
.testimonials_item:nth-child(4) {
    border-bottom: var(--border-width);
    border-right: var(--border-width);
    border-bottom-right-radius: var(--border-radius);
}

.testimonials_item b {
    display: inline-block;
    color: var(--orange);
}

.testimonials_item span,
.testimonials_item b {
    font-size: inherit;
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 320px) and (max-width: 1023px) {
    main {
        --gap: 12px;
        --border-width: var(--border-12);
        --border-radius: 30px;
        font-size: 4rem;
    }
    .services {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .services-container {
        flex-direction: column;
        justify-content: unset;
    }
    .towing,
    .mounting {
        width: calc(100% - var(--side-padding));
    }
    .towing {
        position: relative;
        border-bottom-right-radius: var(--border-radius);
    }
    .mounting {
        align-self: flex-end;
        margin-top: calc(var(--gap));
        border-top-left-radius: var(--border-radius);
    }
    .towing::before {
        border-bottom: var(--border-12);
        border-right: var(--border-12);
        border-bottom-right-radius: var(--border-radius);
    }
    .mounting::before {
        border-top: var(--border-12);
        border-left: var(--border-12);
        border-top-left-radius: var(--border-radius);
    }
    .testimonials_list {
        display: flex;
        flex-direction: column;
        padding: calc(var(--gap) * 2) 0;
    }
    .testimonials_item {
        width: calc(100% - var(--side-padding));
    }
    .testimonials_item:nth-child(even) {
        align-self: flex-start;
        border-left: none;
    }
    .testimonials_item:nth-child(odd) {
        align-self: flex-end;
        border-right: none;
    }
}

@media (min-width: 576px) and (max-width: 1023px) {
    main {
        font-size: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main {
        --border-radius: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    main {
        font-size: 6rem;
    }
}
