.parallax-container {
    --call-btn-side: 260px;
    --vall-btn-margin-coef: 0.2;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.parallax-container::after {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("../assets/img/main-bg.png");
    background-position: center top;
    background-size: cover;
    transform: translateZ(-100px) scale(2);
}


/*--------------------------------------------------------------------------------------Truck */
.truck {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateZ(-50px) scale(1.5);
}

.truck > div {
    display: block;
    position: absolute;
    left: 0;
    bottom: -80px;
    height: 100%;
}

.truck img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*--------------------------------------------------------------------------------------Info-panel */
.info-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 180px 100px 20px 0;
    width: 100%;
    height: 100vh;
    font-size: 7rem;
    transform: translateZ(0px);
    z-index: 1;
}

.info-panel h1,
.info-panel h2,
.info-panel span {
    font-family: "Rubik Distressed", cursive;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--white);
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: calc(var(--call-btn-side) * 0.25);
}

.headers h1,
.headers h2,
.call-button,
.phone-number {
    opacity: 0;
}

.headers h1 {
    color: var(--orange);
}

.headers h2 {
    font-size: 0.7em;
}

.phone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-button {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--call-btn-side) * 0.25);
    height: var(--call-btn-side);
    width: var(--call-btn-side);
    font-size: calc(var(--call-btn-side) * 0.14);
    background-image: url("../assets/img/yellow-road-sign-rhomb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(45deg);
}

.call-button a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.call-button span {
    font-family: "Rubik Distressed", cursive;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: black;
    transform: rotate(-45deg);
}

.phone-number {
    opacity: 0;
}

.phone-number span {
    color: var(--orange);
    -webkit-text-fill-color: var(--orange);
}


/*--------------------------------------------------------------------------------------Animations */
@keyframes truckSlideInAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes infoHeadersSlideInAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes phoneSlideInAnimation {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes callButtonAppearAnimation {
    0% {
        transform: rotate(665deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }
}

@keyframes callButtonOnTapAnimation {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(0.9);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 320px) and (max-width: 768px) {
    .parallax-container {
        --call-btn-side: 120px;
        display: flex;
        flex-direction: column;
    }
    .truck {
        position: static;
        height: 30vh;
        transform: none;
        margin-top: 25px;
    }
    .truck > div {
        position: static;
    }
    .info-panel {
        padding: 0;
        padding-bottom: 10px;
        align-items: center;
        height: auto;
        font-size: 3.25rem;
    }
    .headers {
        align-items: center;
    }
    .headers h1 {
        text-align: center;
    }
    .headers h2 {
        margin-top: 10px;
    }
    .call-button span {
        letter-spacing: -1px;
    }
    .phone-number {
        font-size: 0.7em;
    }
}

@media (min-width: 320px) and (max-height: 576px) {
    .parallax-container {
        --call-btn-side: 100px;
    }
    .truck {
        display: none;
    }
    .info-panel {
        padding-top: 100px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .parallax-container {
        --call-btn-side: 150px;
        justify-content: flex-end;
    }
    .truck {
        position: absolute;
        bottom: 0;
        height: auto;
        transform: translateZ(-50px) scale(1.5);
    }
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        position: relative;
        padding-bottom: 100px;
        font-size: 4rem;
        z-index: 10;
    }
    .headers h2 {
        align-self: center;
    }
    .phone-number {
        font-size: 0.7em;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .parallax-container {
        --call-btn-side: 180px;
    }
    .info-panel {
        font-size: 6rem;
    }
    .phone-number span {
        font-size: 0.9em;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .parallax-container {
        --call-btn-side: 200px;
    }
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 210px var(--side-padding) 40px var(--side-padding);
    }
    .phone-number {
        align-self: center;
    }
    .phone-number span {
        font-size: 0.7em;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .parallax-container {
        --call-btn-side: 240px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 230px var(--side-padding) 40px var(--side-padding);
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 250px var(--side-padding) 40px var(--side-padding);
    }
}


/*--------------------------------------------------------------------------------------Responsiveness landscape */
@media (min-width: 576px) and (max-width: 1024px) and (orientation: landscape) {
    .parallax-container {
        --call-btn-side: 120px;
        flex-direction: unset;
        justify-content: unset;
    }
    .truck {
        display: block;
        height: 100vh;
        left: 20%;
    }
    .truck > div {
        position: absolute;
        bottom: 0;
    }
    .info-panel {
        flex-direction: row;
        align-items: center;
        padding: 180px var(--side-padding) 60px var(--side-padding);
        font-size: 3rem;
    }
    .headers {
        align-items: flex-start;
    }
    .headers h1 {
        text-align: unset;
    }
    .headers h2 {
        align-self: unset;
    }
    .phone-container {
        align-self: flex-end;
    }
    .call-button span {
        letter-spacing: -1px;
    }
    .phone-number {
        align-self: center;
    }
    .phone-number span {
        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .info-panel {
        padding: 160px var(--side-padding) 60px var(--side-padding);
        font-size: 3.5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) and (orientation: landscape) {
    .info-panel {
        padding: 180px var(--side-padding) 60px var(--side-padding);
        font-size: 5rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) and (orientation: landscape) and (max-aspect-ratio: 2/1) {
    .parallax-container {
        --call-btn-side: 160px;
    }
    .info-panel {
        padding: 140px var(--side-padding) 60px var(--side-padding);
        font-size: 5rem;
    }
}

