.parallax-container {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax-container::before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: url("../assets/img/main-bg.png");
    background-position: top center;
    background-size: cover;
    transform: translateZ(-100px) scale(2);
}


/*--------------------------------------------------------------------------------------Truck */
.truck {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateZ(-50px) scale(1.5);
}

.truck > div {
    position: absolute;
    left: 0;
    bottom: -70px;
}

.truck img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*--------------------------------------------------------------------------------------Info-panel */
.info-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 180px 100px 20px 0;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.headers h1,
.headers h2 {
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--white);
    visibility: hidden;
}

.headers h1,
.phone h2 {
    font-size: 7rem;
    color: var(--orange);
}

.headers h2 {
    font-size: 5rem;
}

.phone {
    visibility: hidden;
}

.phone h2 {
    font-family: 'Rubik Distressed', cursive;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--orange);
}

.call-button {
    margin-right: 200px;
    margin-bottom: 50px;
    visibility: hidden;
}

.call-button a {
    font-family: 'Rubik Distressed', cursive;
    color: black;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.road-sign {
    height: 260px;
    width: 260px;
    display: flex;
    align-items: center;
    background-image: url('../assets/img/yellow-road-sign-rhomb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(45deg);
    transition: transform 0.4s ease;
    cursor: pointer;
    z-index: 1;
}

.road-sign a {
    font-size: 38px;
    transform: rotate(-45deg);
}


/*--------------------------------------------------------------------------------------Animations */
@keyframes truckSlideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes infoSlideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes phoneSlideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes callButtonScaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes roadSignRotationOnLoad {
    0% {
        transform: rotate(665deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes roadSignRotationOnTap {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(0.9);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 320px) and (max-width: 768px) {
    .parallax-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .truck {
        position: static;
        height: auto;
        transform: none;
    }
    .truck > div {
        position: static;
    }
    .info-panel {
        padding: 0;
        padding-bottom: 10px;
        align-items: center;
        height: auto;
    }
    .headers {
        align-items: center;
    }
    .headers h1 {
        font-size: 3.25rem;
        text-align: center;
    }
    .headers h2 {
        margin-top: 10px;
        font-size: 2rem;
    }
    .phone h2 {
        font-size: 2rem;
    }
    .call-button {
        margin: 32px 0;
    }
    .call-button a {
        font-size: 1.25rem;
        letter-spacing: -1px;
    }
    .road-sign {
        height: 120px;
        width: 120px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .parallax-container {
        justify-content: flex-end;
    }
    .truck {
        position: absolute;
        bottom: 50px;
        height: 100vh;
        transform: translateZ(-50px) scale(1.5);
    }
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        position: relative;
        padding: 20px;
        z-index: 10;
    }
    .headers h1 {
        font-size: 4rem;
    }
    .headers h2 {
        align-self: center;
        font-size: 3rem;
    }
    .phone h2 {
        font-size: 3rem;
    }
    .call-button {
        margin: 48px 0;
    }
    .call-button a {
        font-size: 1.8rem;
    }
    .road-sign {
        height: 180px;
        width: 180px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .info-panel {
        padding: 20px 40px;
    }
    .headers h1 {
        font-size: 6rem;
    }
    .headers h2 {
        font-size: 4rem;
    }
    .phone h2 {
        font-size: 4rem;
    }
    .call-button a {
        font-size: 2rem;
    }
    .road-sign {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 220px 40px 40px 40px;
    }
    .headers h1 {
        font-size: 6rem;
    }
    .headers h2 {
        font-size: 4rem;
    }
    .call-button {
        align-self: center;
        margin-right: 0;
        margin-bottom: 0;
    }
    .phone {
        align-self: center;
    }
    .phone h2 {
        font-size: 4rem;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 160px 20px 20px 20px;
    }
    .call-button a {
        font-size: 2rem;
    }
    .road-sign {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 160px 40px 40px 40px;
    }
    .call-button {
        align-self: center;
        margin-right: 0;
        margin-bottom: 0;
    }
    .headers h1 {
        font-size: 6rem;
    }
    .phone {
        align-self: center;
    }
    .phone h2 {
        font-size: 6rem;
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    .truck img {
        filter: brightness(0.7);
    }
    .info-panel {
        padding: 160px 40px 40px 40px;
    }
}
