@import url("reset.css");
@import url("header.css");
@import url("parallax.css");
@import url("main.css");
@import url("slideshow.css");
@import url("footer.css");


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

@font-face {
	font-family: 'Rubik Distressed';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/RubikDistressed-Regular.ttf');
}

body {
	--white: floralwhite;
	--orange: orange;
	--red: #f04028;
	--gold: gold;
	--black: #262626;
	--asphalt: #373d42;
	--border-1: 1px solid var(--orange);
	--border-12: 12px solid var(--orange);
	--border-24: 24px solid var(--orange);
	--radius-50: 50px;
	--radius-100: 100px;
	--rotation-koef: 1.4143;
	--button-padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

span {
	font-weight: 500;
	font-size: 1.5rem;
	color: var(--white);
}

.wrapper{
	padding: 0 100px;
}

.root {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 100px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}


/*--------------------------------------------------------------------------------------Hook */
.hook {
	position: fixed;
	bottom: 0;
	right: 50px;
	width: 90px;
	height: 100vh;
	transform: translateY(-100%);
	z-index: 100;
}

.hit-area {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 175px;
	cursor: pointer;
}

.hook img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}


/*--------------------------------------------------------------------------------------Responsiveness */
@media (min-width: 320px) and (max-width: 425px) {
	span {
		font-weight: 400;
		font-size: 1rem;
	}
	.wrapper{
		padding: 0 10px;
	}
	.hook {
		right: 10px;
		width: 35px;
	}
	.hit-area {
		height: 100px;
	}
}

@media (min-width: 425px) and (max-width: 1200px) {
	.wrapper{
		padding: 0 20px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.wrapper {
		padding: 0 40px;
	}
	.hook {
		right: 20px;
		width: 40px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.wrapper {
		padding: 0 20px;
	}
	.hook {
		width: 50px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.hook {
		right: 30px;
		width: 60px;
	}
}

@media (min-width: 1400px) and (max-width: 1500px) {
	.hook {
		right: 30px;
		width: 70px;
	}
}
